<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Add Patient" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <!--<h4 class="card-title">Textual inputs</h4>
          <p class="card-title-desc">Here are examples of <code>.form-control</code> applied to each
            textual HTML5 <code>&lt;input&gt;</code> <code>type</code>.</p>
          -->
          <div class="mb-3 row">
            <label for="example-text-input" class="col-md-2 col-form-label">Person Name</label>
            <div class="col-md-10">
              <input class="form-control" type="text" value="" id="example-text-input">
            </div>
          </div>
          <div class="row">
            <label for="exampleDataList" class="col-md-2 col-form-label">State</label>
            <div class="col-md-10">
              <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
              <datalist id="datalistOptions">
                <option value="San Francisco">
                </option>
                <option value="New York">
                </option>
                <option value="Seattle">
                </option>
                <option value="Los Angeles">
                </option>
                <option value="Chicago">
                </option>
              </datalist>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="example-email-input" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-10">
              <input class="form-control" type="email" value="" id="example-email-input">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="example-url-input" class="col-md-2 col-form-label">Mobile</label>
            <div class="col-md-10">
              <input class="form-control" type="number" value="" id="example-url-input">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="example-tel-input" class="col-md-2 col-form-label">Locality</label>
            <div class="col-md-10">
              <input class="form-control" type="text" value="" id="example-tel-input">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="example-password-input" class="col-md-2 col-form-label">address</label>
            <div class="col-md-10">
              <input class="form-control" type="text" value="" id="example-password-input">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="example-datetime-local-input" class="col-md-2 col-form-label">Date Of Birth</label>
            <div class="col-md-10">
              <input class="form-control" type="date" value=""
                id="example-datetime-local-input">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="example-date-input" class="col-md-2 col-form-label">Blood Group</label>
            <div class="col-md-10">
              <input class="form-control" type="text" value="" id="example-date-input">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="example-month-input" class="col-md-2 col-form-label">Medical History</label>
            <div class="col-md-10">
              <input class="form-control" type="text" value="" id="example-month-input">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="example-week-input" class="col-md-2 col-form-label">Remarks</label>
            <div class="col-md-10">
              <input class="form-control" type="text" value="" id="example-week-input">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-md-10">
              <input  type="submit" value="Add Patient">
            </div>
          </div>
         
        </div>
      </div>
    </div> <!-- end col -->
  </div>
  <!-- end row -->


  

  


  
 

</div> <!-- container-fluid -->